{% extends "base.html" %}
{% block title %}Random blog{% endblock %}
{% block content %}
  <!-- header -->
  <div class="blog-header">
    <h1 class="blog-title">Random blog</h1>
    <p class="lead blog-description">Some random blog</p>
    <br>
  </div>
  <div class="row">
    <!-- posts column -->
    <div class="col-sm-8 blog-main">
      {% if not posts.posts %}
      <p class=blog-post-title h2>Nothing here :/</p>
      {% endif %}
      {% for post in posts.posts %}
      <div class="blog-post">
        <a class="blog-post-title h2" href="/post/{{ post.id }}">{{ post.header }}</a>
        <p class="blog-post-meta">{{ post.creation_date }} by {{ post.author }}</p>
        {% for category in post.categories %}
          <bdi class="blog-post-category">{{ category }}</bdi>
        {% endfor %}
        <p class="blog-post-content">{{ post.content }}</p>
      </div>
      <hr>
      {% endfor %}
    </div>
    <!-- sidebar -->
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>Categories</h4>
        {% if not categories.categories %}
        <p>No categories</p>
        {% endif %}
        {% for category in categories.categories %}
        <p><a href="soon">{{ category.category }}</a></p>
        {% endfor %}
      </div>
      <div class="sidebar-module">
        <h4>Random information</h4>
        <p>I don't know what to insert here :/</p>
      </div>
      <div class="sidebar-module">
        <h4>Some memes</h4>
        <p><a href="soon">FREE MEMES!</a></p>
      </div>
    </div>
  </div>
{% endblock %}
